* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B Yekan', 'Calibri';
    text-decoration: none;
    font-size: 14px;
    outline: none;
    direction: rtl;
}

a {
    color: inherit;
}

.root {
    background-color: #edeef0;
}