* {
    margin: 0;
    padding: 0;
    font-family: 'B Yekan', Helvetica, sans-serif;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

/* #menu {float: left} */


/*======================================================
                            Navbar
    ======================================================*/
#navbar {
    font-size: 20px;
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 39px -6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 39px -6px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 39px -6px rgba(0, 0, 0, 0.14);
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

@media(max-width: 768px) {
    .nav-wrapper {
        width: 90%;
    }
}

@media(max-width: 638px) {
    .nav-wrapper {
        width: 100%;
    }
}


.logo {
    font-family: 'Calibri Light';
    float: right;
    margin-right: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media(max-width: 768px) {
    .logo {
        margin-right: 25px;
    }
}

#navbar ul {
    float: right;
    list-style: none;
    margin-right: 14px;
    text-align: center;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

@media(max-width: 640px) {
    #navbar ul {
        display: none;
    }
}

@media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    height: 50px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
}

#navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 79, 126);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    background: rgb(13, 26, 38);
    left: 0;
    transition: 0.3s;
}

#navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
}

.search {
    float: left;
}

input[type='search'] {
    direction: rtl;
    border-radius: 7px;
    padding: 5px;
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    background-color: rgb(224, 224, 224);
}

@media(max-width: 768px) {
    .search {
        margin-left: 60px
    }
}

.loginSignup {
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.loginSignupMenu {
    width: 100px;
    position: absolute;
    top: 60px;
    line-height: 0;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px;

}



.loginSignup::before {
    content: '\f2bd';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

.guestLogin,
.guestSignUp {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.guestSignUp {
    margin-top: 10px;
}

.guestLogin:hover,
.guestSignUp:hover {
    background-color: rgb(13, 26, 38);
    color: white;
    transition-duration: 0.2s;
    transition-timing-function: ease-out
}

.guestSignUp:hover::after {
    content: '  \f234';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.guestLogin:hover::after {
    content: '  \f2f6';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

/*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
@media(max-width: 640px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        left: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}


/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
.overlay-menu {
    background: rgb(226, 226, 226);
    color: rgb(13, 26, 38);
    display: flex;
    margin-top: 100px;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
    width: 100%;
}

.overlay-menu li a {
    display: block;
    font-size: 1.8em;
    padding: 15px 0;
    text-align: center;
}

.overlay-menu li:hover,
.overlay-menu li:active {
    background-color: rgb(95, 105, 112);
    color: rgb(220, 226, 231);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}