.subnav {
    width: 100%;
    height: 40px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    position: fixed;
    top: 60px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.33);
    z-index: 2;
}

.subnavItem{
    height: 40px;
    padding: 0 20px;
    display: inline-block;
    line-height: 40px;
    position: relative;
}

.subnavItem > a {
    display: inline-block;
    width: 100%;
}

.subnavItem:not(.active):before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0px;
    background: rgb(202, 23, 23);
    left: 0;
    transition: 0.3s;
}

.subnavItem:not(.active):hover:before{
    background: rgb(202, 23, 23);
    width: 100%;
}

.subnav .active {
    font-weight: bold;
    border-bottom: 2px rgb(202, 23, 23) solid;
}